<div class="row">
  <div class="col-x2-12">
    <img
      [src]="recipe.imgPath"
      alt="{{ recipe.name }}"
      width="300"
      class="img-responsive"
    />
  </div>
</div>

<div class="row">
  <div class="col-x2-12">
    <h2>{{ recipe.name }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-x2-12">
    <div appDropdown class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Edit</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
        <li><a class="dropdown-item" href="#">Add to shopping list</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-x2-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>

<div class="row">
  <div class="col-x2-12">
    <p>Ingredients</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
