<div class="container">
  <app-cockpit
    (sCreated)="onServerAdded($event)"
    (bCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <button class="btn btn-primary" (click)="onChangeFirst()">
    Change 1st element
  </button>
  <button class="btn btn-danger" (click)="onDeleteFirst()">
    Delete 1st element
  </button>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let el of serverElements" [name]="el.name">
        <p #contentParagraph>
          <strong *ngIf="el.type === 'server'" style="color: red">{{
            el.content
          }}</strong>
          <em *ngIf="el.type === 'blueprint'">{{ el.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
