<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group" [ngClass]="{ odd: onlyOdd }">
        <div *appUnless="onlyOdd">
          <li
            *ngFor="let even of evenNumbers"
            class="list-group-item"
            [ngStyle]="{ backgroundColor: onlyOdd ? 'lightgrey' : 'lightblue' }"
          >
            {{ even }}
          </li>
        </div>
        <div *ngIf="onlyOdd">
          <li
            *ngFor="let odd of oddNumbers"
            class="list-group-item"
            [ngStyle]="{ backgroundColor: onlyOdd ? 'lightgrey' : 'lightblue' }"
          >
            {{ odd }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Highlight me!</p>

      <!-- here we bind the property to the directive -->
      <!-- if we are passing down a string, we dont need square brackets or quotes-->
      <p [appBetterHighlight]="'blue'" defaultColor="yellow">
        Better Highlight me!
      </p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">
          value is 5
        </p>
        <p *ngSwitchCase="10">
          value is 10
        </p>
        <p *ngSwitchCase="15">
          value is 15
        </p>
        <p *ngSwitchDefault>
          value is default
        </p>
      </div>
    </div>
  </div>
</div>
